rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /receipts/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false; // Cloud Functions만 쓰기
    }
    match /bankbook/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
